<nav class="navbar">
    <input type="checkbox" name="menu" id="menu-btn">
    <div class="hamburger-menu">
        <label for="menu-btn">
            <div class="menu-line menu-line-1"></div>
            <div class="menu-line menu-line-2"></div>
            <div class="menu-line menu-line-3"></div>
        </label>
    </div>

    <div class="navigation">
        <div class="left">
            <img class="nav-image nav-image-1" src="/assets/images/nav-img-1.jpeg" />
            <img class="nav-image nav-image-2" src="/assets/images/nav-img-2.jpeg" />
            <img class="nav-image nav-image-3" src="/assets/images/nav-img-3.jpeg" />
        </div>
        <div class="right">
            <ul class="nav-menu">
                <li class="nav">
                    <a class="nav-link">Home</a>
                </li>
                <li class="nav">
                    <a class="nav-link">About Us</a>
                </li>
                <li class="nav">
                    <a class="nav-link">Gallery</a>
                </li>
                <li class="nav">
                    <a class="nav-link">Reservation</a>
                </li>
                <li class="nav">
                    <a class="nav-link">Services</a>
                </li>
                <li class="nav">
                    <a class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>