<!--About Us-->
<section class="about-us">
    <div class="about-us-left">
        <img src="/assets/images/about-us-img.png" />
    </div>
    <div class="about-us-right">
        <h1 class="main-heading">About Us</h1>
        <h3 class="sub-heading">Introduce to Georgian Dishes</h3>
        <div class="stars">
            <i class="fas fa-star-of-life star"></i>
            <i class="fas fa-star-of-life star"></i>
            <i class="fas fa-star-of-life star"></i>
        </div>
        <div class="description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, fuga facilis voluptas provident placeat voluptatibus. Corrupti quo eaque saepe voluptatem maxime est aliquam temporibus architecto incidunt, adipisci, delectus velit voluptate?
        </div>
        <div class="stars">
            <i class="fas fa-star-of-life star"></i>
            <i class="fas fa-star-of-life star"></i>
            <i class="fas fa-star-of-life star"></i>
        </div>
        <button class="main-btn">Read More</button>
    </div>
</section><!--END of About Us-->