// Default
$color-primary: #EB8942;
$color-primary-light: #F29857;
$color-primary-dark: #D26C33;
$color-secondary: #F8F8F5;
$color-teritary: #71AED0;
$default-font-color: #000;
$default-font-anchor-color: #000;
$default-background-color: #fff;
$default-foreground-color: #000;


// Buttons
$button-disabled-background-color: #ddd;
$button-disabled-foreground-color: #ddd;