// Default
$default-border-radius: .4rem;


// Button
$button-default-padding: .8rem;
$button-default-border-radius: $default-border-radius;

// Pane
$pane-stack-index: 1200;
$pane-size-expanded: 30rem;
$pane-size-minimized: 6rem;
$pane-size-collapsed: 0rem;


