<section class="about-us">
    <div class="content">
        <grand-heading heading="About Us"></grand-heading>
        <h3 class="sub-heading">Grand Hotel</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus omnis nihil minima soluta explicabo voluptas sequi, deserunt suscipit fugiat fuga cumque doloribus, sed accusamus vitae id. Minima doloribus nihil aliquam, adipisci est non illum placeat, culpa accusamus molestias labore rerum.</p>
        <button class="cta-btn">
            <span>Read More</span>
            <i class="icon fas fa-angle-double-right"></i>
        </button>
    </div>
    <div class="images">
        <img class="image-1" src="/assets/images/about-us-img-1.jpeg" />
        <img src="/assets/images/about-us-img-2.jpeg" class="image-2">
        <img src="/assets/images/about-us-img-3.jpeg" class="image-3">
        <img src="/assets/images/about-us-img-4.jpeg" class="image-4">
    </div>
</section>