@import "../../../scss/abstract/main";

:host {
    display: flex;
    color: var(--color-light-gray);
    height: 65rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    font-family: var(--font-josefin-sans);
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 4rem;
    animation: fadeIn 2s;
}

.description {    
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 4rem;
    animation: fadeIn 1.5s .5s backwards;
}

.cta-btn {
    width: 21rem;
    padding: 1.2rem 2rem;
    font-size: 2rem;
    color: var(--color-dark-gray);
    letter-spacing: .1rem;
    border-radius: 10rem;
    background: linear-gradient(to right, gold, goldenrod);    
    animation: fadeIn 1.5s 1s backwards;
    cursor: pointer;

    &:hover {
        background: linear-gradient(to left, gold, goldenrod);
    }

    &:active {
        transform: translateY(.2rem);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}