<nav class="navigation">
    <div class="header">
        <h1 class="heading">Grand Hotel</h1>

        <form action="" class="navigation-search">
            <input type="text" class="navigation-search-input" placeholder="Search...">
            <button class="search-btn"><i class="fas fa-search"></i></button>
        </form>
    </div>

    <ul class="navigation-menu">
        <li class="item"><a href="#" class="nav-link">Home</a></li>
        <li class="item"><a href="#" class="nav-link">About Us</a></li>
        <li class="item"><a href="#" class="nav-link">rooms</a></li>
        <li class="item"><a href="#" class="nav-link">Events</a></li>
        <li class="item"><a href="#" class="nav-link">Customers</a></li>
        <li class="item"><a href="#" class="nav-link">Contact</a></li>
    </ul>

    <div class="copyright">
        <p>&copy; 2018 Grand Hotal. All Rights Reserved</p>
    </div>
</nav>