<input type="checkbox" name="navigation-menu-state" id="navigation-menu-btn" hidden />
<div class="sidebar">
    <label class="menu-btn" for="navigation-menu-btn">
        <div class="menu-icon">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </div>
    </label>
    <ul class="social-icons">
        <li><a href="#" class="social-link">
            <i class="fab fa-facebook-f"></i>
        </a></li>
        <li><a href="#" class="social-link">
            <i class="fab fa-twitter"></i>
        </a></li>
        <li><a href="#" class="social-link">
            <i class="fab fa-google-plus-g"></i>
        </a></li>
        <li><a href="#" class="social-link">
            <i class="fab fa-instagram"></i>
        </a></li>
    </ul>
    <div class="year">
        <p>2018</p>
    </div>
</div>
<grand-navigation></grand-navigation>