@import "../../../scss/abstract";


.copyright {
    font-family: var(--font-josefin-sans);
    font-size: 1.8rem;
    color: var(--color-secondary);
    @include textStyles(capitalize);

    @media(max-width: 800px) {
        width: 70%;
        margin: auto;
        text-align: center;
    }

    @media(max-width: 500px) {
        font-size: 1.4rem;
    }
}